// FONT STUFF
$fontfamily: 'Ubuntu', sans-serif;

// COLOURS
$backgroundcolor: #404456;
$primarycolor: whitesmoke;
$secondarycolor: rgb(135,145,155);
$alpha: 0.6;

//positioning of icons
$toppos: 15%;
$leftpos: 15%;
$bottompos: 15%;
$rightpos: 15%;