// IMPORTS
@import 'variables';
@import 'loader';
@import 'animations';

/* MAIN STYLES */
body {
    background-color: $backgroundcolor;
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    color: $primarycolor;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle {
    position: absolute;
    display: flex;
    align-content: center;
    background-color: $primarycolor;
    border-radius: 50%;
    min-width: 80px;
    width: 10%;
    opacity: 0.75;
    transition: opacity 1s;
    animation: pulse 3s infinite;
    font-size: 5vw;
    
    transition: all 1s;
        &:hover {
        opacity: 0.9;
        transform: scale(1.1);
    }
    
    &#topleft {
        top: $toppos;
        left: $leftpos;
    }

    &#topright {
        top: $toppos;
        right: $rightpos;
    }

    &#bottomleft {
        bottom: $bottompos;
        left: $leftpos;
    }

    &#bottomright {
        bottom: $bottompos;
        right: $rightpos;
    }
}

i {
    position: relative;
    margin: auto;
    color: $backgroundcolor;
}